# {{ ansible_managed }}

[commands]
#  What kind of update to use:
# default                            = dnf upgrade
# security                           = dnf --security upgrade
# security-severity:Critical         = dnf --sec-severity=Critical upgrade
# minimal                            = dnf --bugfix upgrade-minimal
# minimal-security                   = dnf --security upgrade-minimal
# minimal-security-severity:Critical = dnf --sec-severity=Critical upgrade-minimal

upgrade_type = {{ use_classyllama_autoupdate_upgrade_type }}
download_updates = {{ use_classyllama_autoupdate_download_updates }}
apply_updates = {{ use_classyllama_autoupdate_apply_updates }}
random_sleep = {{ use_classyllama_autoupdate_random_sleep }}
update_messages = {{ use_classyllama_autoupdate_notify }}

[emitters]
emit_via = stdio
system_name = {{ use_classyllama_autoupdate_system_name }}

[command]
command_format = cat
stdin_format = "{body}"

[command_email]
command_format = mail -s "DNF Auto update notification" -r {email_from} {email_to}
stdin_format = "{body}"
email_from = root@{{ use_classyllama_autoupdate_system_name }}
email_to = {{ use_classyllama_autoupdate_email_to }}

[email]
email_from = root@{{ use_classyllama_autoupdate_system_name }}
email_to = {{ use_classyllama_autoupdate_email_to }}
email_host = localhost
